{% extends "base.jinja" %}

{% import 'macro.jinja' as oo %}

{% set cardOptions = {
    'actions': {
        'isEditable'  : true,
        'isRemovable' : true,
        'showDetail'  : false,
    },
    'contentType': 'actors'
} %}

{% set linkOptions = {
    'url': url_for('actors.add')
} %}


{% block title %}Actors{% endblock title %}

{% block body %}

    {{ oo.itemList(actors, cardOptions) }}

    {{ oo.linkButton(linkOptions) }}

{% endblock body %}