{% extends "base.jinja" %}


{% block title %}Movies - add{% endblock title %}

{% block body %}

    <form action="{{ url_for('movies.add') }}" method="post" enctype="multipart/form-data" class="w-3/6 mx-auto">
        <div class="flex flex-col rounded-md border-2 border-[#212429] text-secondary content-center p-3">

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="year">Year:</label>
            <input type="date" id="year" name="year" required>

            <label for="actors">Actors:</label>
            <select required id="actors" name="actors" multiple>
                {% for actor in actors %}
                    <option value="{{ actor._id }}">{{ actor.name }}</option>
                {% endfor %}
            </select>

            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>

            <label for="image">Image:</label>
            <input type="file" id="image" name="image" accept="image/*" required>

        </div>

        <button class="fixed rounded-full bottom-5 right-5 w-14 h-14 text-secondary bg-green-600" type="submit">
            <svg fill="currentColor" class="w-8 h-8 m-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                    d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
            </svg>
        </button>
    </form>

    <!-- <pre class="bg-white">{% debug %}</pre> -->

{% endblock body %}