{% extends "base.jinja" %}

{% block title %}Movies{% endblock title %}

{% block body %}  

<form action="{{ url_for('movies.add') if request.url_rule.endpoint == 'movies.add' else url_for('movies.edit', id=movie._id) }}" method="post" enctype="multipart/form-data" class="mx-auto">
  <div class="space-y-12 text-secondary">

    <div class="border-b border-gray-900/10 pb-12 text-secondary">
      <h2 class="text-base font-semibold leading-7">About the movie</h2>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="title" class="block text-sm font-medium leading-6">Movie title</label>
            <input type="text" name="title" id="title" required value="{% if movie %}{{ movie.title }}{% endif %}" placeholder="Movie title"
            class="block w-full text-secondary rounded-md border-0 py-1.5 text-gray-900 bg-gray-800 shadow-sm ring-1 ring-inset ring-opacity-50 ring-gray-500 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6 transition-all duration-300">
        </div>

        <div class="sm:col-span-3">
          <label for="release" class="block text-sm font-medium leading-6">Release date</label>
            <input type="date" name="release" id="release"
            class="block w-full text-secondary rounded-md border-0 py-1.5 text-gray-900 bg-gray-800 shadow-sm ring-1 ring-inset ring-opacity-50 ring-gray-500 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6 transition-all duration-300"
            required value="{% if movie %}{{ movie.year.strftime('%Y-%m-%d') }}{% endif %}">
        </div>

        <div class="col-span-full">
          <label for="description" class="block text-sm font-medium leading-6">Description</label>
            <textarea id="description" name="description" rows="3" class="block w-full text-secondary rounded-md border-0 py-1.5 text-gray-900 bg-gray-800 shadow-sm ring-1 ring-inset ring-opacity-50 ring-gray-500 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6 transition-all duration-300"
            placeholder="Write a few sentences about the film.">{% if movie %}{{ movie.description }}{% endif %}</textarea>
        </div>

        <div class="sm:col-span-3">
          <label for="actors" class="block text-sm font-medium leading-6">Actors</label>
            <select multiple id="actors" name="actors" class="block w-full text-secondary rounded-md border-0 py-1.5 text-gray-900 bg-gray-800 shadow-sm ring-1 ring-inset ring-opacity-50 ring-gray-500 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6 transition-all duration-300">
              {% for actor in actors %}
                  <option {% if movie and actor in movie.actors %} selected {% endif %} value="{{ actor._id }}">{{ actor.name }}</option>
              {% endfor %}
            </select>
        </div>

        <div class="sm:col-span-3">
          <label for="image" class="block text-sm font-medium leading-6">Cover photo</label>
          <div class="flex justify-center rounded-lg border border-gray-500 bg-gray-800 border-opacity-50 p-4">
            <div class="text-center">
              <div class="rounded-md overflow-hidden bg-cover bg-no-repeat {{ 'mb-4' if movie }}">
                <img data-image-preview src="{{ url_for('static', filename='images/movies/'~movie.image) if movie }}"
                class="transition-all duration-300 rounded-md hover:scale-110">
              </div>
              <div class="flex text-sm leading-6 text-gray-600">
                <label for="image" class="mx-auto p-2 cursor-pointer rounded-md bg-blue-700 hover:bg-blue-800 font-semibold text-secondary hover:text-gray-200 transition-all duration-300">
                  <span>Upload an image</span>
                  <input data-image-input id="image" name="image" type="file" class="sr-only" accept="image/*">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="fixed rounded-full bottom-5 right-5 w-14 h-14 text-secondary bg-green-600" type="submit">
      <svg fill="currentColor" class="w-8 h-8 m-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
              d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
      </svg>
  </button>

</form>

{% endblock body %}