{% extends "base.jinja" %}

{% import 'macro.jinja' as oo %}

{% block title %}Movies{% endblock title %}

{% set imageFormFieldOptions = {
  'label': 'Cover photo',
  'entityType': 'movies',
  'entity' : movie
} %}

{% block body %}

<form action="{{ url_for('movies.add') if request.url_rule.endpoint == 'movies.add' else url_for('movies.edit', id=movie._id) }}" method="post" enctype="multipart/form-data" class="mx-auto w-full lg:w-4/6">
  <div class="space-y-12 text-secondary">
    <div class="border-b border-gray-900/10 pb-12 text-secondary">
      <h2 class="text-base font-semibold leading-7">About the movie</h2>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="title" class="block text-sm font-medium leading-6">Movie title</label>
            <input type="text" name="title" id="title" required value="{% if movie %}{{ movie.title }}{% endif %}" placeholder="Movie title"
            class="block w-full text-secondary rounded-md border-0 py-1.5 text-secondary bg-gray-800 shadow-sm ring-1 ring-inset ring-opacity-50 ring-gray-500 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6 transition-all duration-300">
        </div>

        <div class="sm:col-span-3">
          <label for="release" class="block text-sm font-medium leading-6">Release date</label>
            <input type="date" name="release" id="release"
            class="block w-full text-secondary rounded-md border-0 py-1.5 text-secondary bg-gray-800 shadow-sm ring-1 ring-inset ring-opacity-50 ring-gray-500 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6 transition-all duration-300"
            required value="{% if movie %}{{ movie.year.strftime('%Y-%m-%d') }}{% endif %}">
        </div>

        <div class="col-span-full">
          <label for="description" class="block text-sm font-medium leading-6">Description</label>
            <textarea id="description" name="description" rows="3" class="block w-full text-secondary rounded-md border-0 py-1.5 text-secondary bg-gray-800 shadow-sm ring-1 ring-inset ring-opacity-50 ring-gray-500 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6 transition-all duration-300"
            placeholder="Write a few sentences about the film.">{% if movie %}{{ movie.description }}{% endif %}</textarea>
        </div>

        <div class="sm:col-span-3">
          <label for="actors" class="block text-sm font-medium leading-6">Actors</label>
            <select multiple id="actors" name="actors" class="block w-full text-secondary rounded-md border-0 py-1.5 text-secondary bg-gray-800 shadow-sm ring-1 ring-inset ring-opacity-50 ring-gray-500 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6 transition-all duration-300">
              {% for actor in actors %}
                  <option {% if movie and actor in movie.actors %} selected {% endif %} value="{{ actor._id }}">{{ actor.firstName }} {{ actor.lastName }}</option>
              {% endfor %}
            </select>
        </div>

        <div class="sm:col-span-3">
          <label for="producers" class="block text-sm font-medium leading-6">Producers</label>
            <select multiple id="producers" name="producers" class="block w-full text-secondary rounded-md border-0 py-1.5 text-secondary bg-gray-800 shadow-sm ring-1 ring-inset ring-opacity-50 ring-gray-500 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6 transition-all duration-300">
              {% for producer in producers %}
                  <option {% if movie and producer in movie.producers %} selected {% endif %} value="{{ producer._id }}">{{ producer.firstName }} {{ producer.lastName }}</option>
              {% endfor %}
            </select>
        </div>

        {{ oo.imageFormField(imageFormFieldOptions) }}
      </div>
    </div>
  </div>

  {{ oo.submitButton() }}

</form>

{% endblock body %}