{% extends "base.jinja" %}

{% import 'macro.jinja' as oo %}

{% set cardOptions = {
    'actions': {
        'isEditable'  : true,
        'isRemovable' : true,
        'showDetail'  : true,
    },
    'contentType': 'movies'
} %}

{% set linkOptions = {
    'url': url_for('movies.add')
} %}

{% block title %}Movies{% endblock title %}

{% block body %}

    {{ oo.itemList(movies, cardOptions) }}

    {{ oo.linkButton(linkOptions) }}

{% endblock body %}
