{% set flash_message_options = {
    'messages': get_flashed_messages(with_categories=true)
} %}

<div data-flash-message data-flash-message-options='{{ flash_message_options|tojson }}' class="hidden"></div>
