{% set desktop_active_class = 'text-md text-primary font-bold' %}
{% set desktop_unactive_class = 'text-md text-secondary font-bold hover:text-primary transition-all duration-100' %}
{% set smartphone_active_class = 'block p-4 text-sm font-bold text-primary bg-gray-800 rounded' %}
{% set smartphone_unactive_class = 'block p-4 text-sm font-bold text-secondary hover:text-primary hover:bg-gray-800 rounded transition-all duration-200' %}

<nav class="bg-primary px-4 py-4 flex justify-between items-center border-b border-[#212429] sticky top-0 z-10 transition-[width] duration-200">
	<a class="text-3xl font-bold leading-none text-secondary" href="{{ url_for('movies.findAll') }}">PlexWish</a>
	<div class="lg:hidden">
		<button type="button" class="navbar-burger flex items-center text-secondary hover:text-primary transition-all">
			<svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
			</svg>
			<span class="sr-only">open menu</span>
		</button>
	</div>
	<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-10">
		<li>
			<a class="{{ desktop_active_class if request.url_rule.endpoint in movies_routes() else desktop_unactive_class }}"
				href="{{ url_for('movies.findAll') }}">Movies</a>
		</li>
		<li>
			<a class="{{ desktop_active_class if request.url_rule.endpoint in actors_routes() else desktop_unactive_class }}"
				href="{{ url_for('actors.findAll') }}">Actors</a>
		</li>
		<li>
			<a class="{{ desktop_active_class if request.url_rule.endpoint in producers_routes() else desktop_unactive_class }}"
				href="{{ url_for('producers.findAll') }}">Producers</a>
		</li>
	</ul>
</nav>
<div class="navbar-menu relative z-50 hidden lg:hidden">
	<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-50"></div>
	<nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 border-r border-[#212429] overflow-y-auto bg-primary">
		<div class="flex items-center mb-8">
			<a class="mr-auto text-3xl font-bold leading-none text-secondary" href="{{ url_for('movies.findAll') }}">PlexWish</a>
			<button type="button" class="navbar-close text-secondary hover:text-primary transition-all">
				<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
				</svg>
				<span class="sr-only">close menu</span>
			</button>
		</div>
		<div>
			<ul>
				<li class="mb-1">
					<a class="{{ smartphone_active_class if request.url_rule.endpoint in movies_routes() else smartphone_unactive_class }}"
						href="{{ url_for('movies.findAll') }}">Movies</a>
				</li>
				<li class="mb-1">
					<a class="{{ smartphone_active_class if request.url_rule.endpoint in actors_routes() else smartphone_unactive_class }}"
						href="{{ url_for('actors.findAll') }}">Actors</a>
				</li>
				<li class="mb-1">
					<a class="{{ smartphone_active_class if request.url_rule.endpoint in producers_routes() else smartphone_unactive_class }}"
						href="{{ url_for('producers.findAll') }}">Producers</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
