{% extends "base.jinja" %}

{% import 'macro.jinja' as oo %}

{% set cardOptions = {
    'actions': {
        'isEditable'  : true,
        'isRemovable' : true,
        'showDetail'  : false,
    },
    'contentType': 'producers'
} %}

{% set linkOptions = {
    'url': url_for('producers.add')
} %}

{% block title %}Producers{% endblock title %}

{% block body %}

    {{ oo.itemList(producers, cardOptions) }}

    {{ oo.linkButton(linkOptions) }}

{% endblock body %}